body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}

.first-section .half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-section .name-highlights{
    color: orange;
}
.first-section .half img{
    width: 100%;
}
